@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 185 18% 12%;
    --foreground: 0 0% 98%;
    --card: 185 18% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 185 18% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 188 30% 41%;
    --primary-foreground: 185 18% 95%;
    --secondary: 188 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 188 30% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 175 63% 50%;
    --accent-foreground: 185 18% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 188 30% 25%;
    --input: 188 30% 25%;
    --ring: 175 63% 50%;
    --sidebar-background: 185 18% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 175 63% 50%;
    --sidebar-primary-foreground: 185 18% 12%;
    --sidebar-accent: 185 18% 14%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 185 18% 14%;
    --sidebar-ring: 175 63% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
