@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* light grey */
    --foreground: 224 71% 4%; /* dark blue */
    --card: 0 0% 100%; /* white */
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 345 75% 35%; /* guinda */
    --primary-foreground: 355 75% 97%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 220 13% 91%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 86%;
    --input: 220 13% 89%;
    --ring: 345 75% 45%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 9%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 345 75% 45%;
    --primary-foreground: 355 75% 97%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 345 75% 55%;

    --sidebar-background: 224 71% 3%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 345 75% 55%;
    --sidebar-primary-foreground: 355 75% 97%;
    --sidebar-accent: 215 28% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 345 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
