@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 83% 94%; /* crema */
    --foreground: 345 10% 20%; /* dark grey */
    --card: 39 70% 98%; /* lighter crema */
    --card-foreground: 345 10% 20%;
    --popover: 39 70% 98%;
    --popover-foreground: 345 10% 20%;
    --primary: 345 75% 35%; /* guinda */
    --primary-foreground: 39 83% 94%;
    --secondary: 345 20% 85%; /* light grey-guinda */
    --secondary-foreground: 345 75% 35%;
    --muted: 345 20% 90%; /* lighter grey-guinda */
    --muted-foreground: 345 10% 40%;
    --accent: 345 75% 45%; /* brighter guinda */
    --accent-foreground: 39 83% 94%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 20% 80%; /* gris */
    --input: 345 20% 88%; /* gris */
    --ring: 345 75% 45%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 345 10% 15%;
    --foreground: 39 30% 92%;
    --card: 345 10% 20%;
    --card-foreground: 39 30% 92%;
    --popover: 345 10% 15%;
    --popover-foreground: 39 30% 92%;
    --primary: 345 75% 45%;
    --primary-foreground: 39 30% 92%;
    --secondary: 345 10% 25%;
    --secondary-foreground: 39 30% 92%;
    --muted: 345 10% 25%;
    --muted-foreground: 39 30% 70%;
    --accent: 345 S75% 55%;
    --accent-foreground: 39 30% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 10% 30%;
    --input: 345 10% 30%;
    --ring: 345 75% 55%;

    --sidebar-background: 345 10% 12%;
    --sidebar-foreground: 39 30% 92%;
    --sidebar-primary: 345 75% 55%;
    --sidebar-primary-foreground: 39 30% 92%;
    --sidebar-accent: 345 10% 20%;
    --sidebar-accent-foreground: 39 30% 92%;
    --sidebar-border: 345 10% 25%;
    --sidebar-ring: 345 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
